@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor1: #F2CB05;
    --cor2: #F29F05;
    --cor3: #BF5B04;
    --cor4: #8C2703;
    --cor5: #591902;

    --fonte-marca: "Protest Riot", sans-serif;
    --fonte-conteudo: "Josefin Sans", sans-serif;
    --fonte-titulos: "Archivo Black", sans-serif;
}

body {
    font-family: var(--fonte-conteudo);
}

header#cabecalho {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 10px;
}

header#cabecalho > h1 {
    font-family: var(--fonte-marca);
    font-weight: 400;
    font-size: 2.3em;
}

nav {
    background-color: var(--cor2);
    text-align: center;
    padding: 17px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: var(--cor2);
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor4);
    
}

section.apresentacao {
    padding: 15px;
}

div.conteudo {

    text-align: center;

    padding: 10px;
}

div.conteudo > p {
    font-size: 1.4em;
    line-height: 1.5em;

    margin-bottom: 5px;
}

span#ligou {
    background-color: var(--cor2);
    border-radius: 30px;

    padding: 7px;
}

span#chegou {
    background-color: var(--cor5);
    border-radius: 30px;
    color: white;
    padding: 7px;
}

section.produtos {
    background-color: var(--cor1);
    padding: 15px 0px;

}

div.cont_tit {
    padding: 10px;
    margin-bottom: 15px;
}

div.cont_tit > h2 {
    background-image: linear-gradient(to right, transparent, var(--cor5) 50%);
    color: white;
    font-family: var(--fonte-titulos);
    font-weight: lighter;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 10px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.dinda_top {
    display: flex;
    background-color: var(--cor4);
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}

a.links_wpp {
    text-decoration: none;
    position: relative;
    border-radius: 10px;
}

p.precos {
    color: white;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    bottom: -6px;
    left: 50%;
}

div.img_combo_top{
    background-color: white;
    border-radius: 10px;

    width: 110px;
    height: 110px;
}

div#combo1 {
    background: white url('../imagens/dinda-top-p-1.jpg') no-repeat center center;
    background-size: cover;
}

div#combo2 {
    background: white url('../imagens/dinda-top-p-2.jpg') no-repeat center center;
    background-size: cover;
}

div#combo3 {
    background: white url('../imagens/dinda-top-p-3.jpg') no-repeat center center;
    background-size: cover;
}