@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ANIMAÇÕES CSS */

@keyframes bordas-mechendo {
    0% {
        border-radius: 15px;
    }

    50% {
        border-radius: 40px;
    }

    100% {
        border-radius: 15px;
    }
}

:root {
    --cor1: #F2CB05;
    --cor2: #F29F05;
    --cor3: #BF5B04;
    --cor4: #8C2703;
    --cor5: #591902;

    --fonte-marca: "Protest Riot", sans-serif;
    --fonte-conteudo: "Josefin Sans", sans-serif;
    --fonte-titulos: "Archivo Black", sans-serif;
}

body {
    font-family: var(--fonte-conteudo);
}

header#cabecalho {
    background-color: var(--cor5);
    text-align: center;
    color: white;
    padding: 10px;
}

header#cabecalho > h1 {
    font-family: var(--fonte-marca);
    font-weight: 400;
    font-size: 2.3em;
}

nav {
    background-color: var(--cor2);
    text-align: center;
    padding: 17px;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: var(--cor2);
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 10px;
}

nav > a:hover {
    background-color: var(--cor4);
    
}

section.apresentacao {
    padding: 15px;
}

div.conteudo {

    text-align: center;

    padding: 10px;
}

div.conteudo > p {
    font-size: 1.4em;
    line-height: 1.5em;

    margin-bottom: 5px;
}

span#ligou {
    background-color: var(--cor2);
    border-radius: 30px;

    padding: 7px;
}

span#chegou {
    background-color: var(--cor5);
    border-radius: 30px;
    color: white;
    padding: 7px;
}

section.produtos {
    background-color: var(--cor1);
    padding: 15px 0px;

}

div.cont_tit {
    padding: 10px;
    margin-bottom: 15px;
}

div.cont_tit > h2 {
    background-image: linear-gradient(to right, transparent, var(--cor5) 50%);
    color: white;
    font-family: var(--fonte-titulos);
    font-weight: lighter;
    text-shadow: 1px 1px 0px black;
    display: inline-block;
    padding: 10px;
    margin-left: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.container_dos_produtos {
    display: flex;
    flex-direction: column;
    background-color: var(--cor4);
    align-items: center;
    justify-content: space-around;

    padding: 10px;
}

a.links_wpp {
    text-decoration: none;
    position: relative;
    border-radius: 15px;
   
    margin-bottom: 20px;

    animation: bordas-mechendo 12s ease-in-out infinite;
}

p.precos {
    color: white;
    font-size: 2.5em;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    bottom: -15px;
    right: 10%;
}

div.img_combo{
    background-color: white;
    border-radius: 15px;
    border: 2px solid var(--cor2);
    width: 250px;
    height: 250px;

    animation: bordas-mechendo 12s ease-in-out infinite;
}

div#combo1 {
    background: white url('../imagens/dinda-top-p-1.jpg') no-repeat center center;
    background-size: cover;
    
}

div#combo2 {
    background: white url('../imagens/dinda-top-p-2.jpg') no-repeat center center;
    background-size: cover;
}

div#combo3 {
    background: white url('../imagens/dinda-top-p-3.jpg') no-repeat center center;
    background-size: cover;
}

div.direcionamento {
    display: flex;
    justify-content: left;

    padding: 10px;
    margin-top: 5px;
}

div.img_direcionamento {
    background: url('../imagens/logo-whatsapp.png') no-repeat center center;
    background-size: cover;

    width: 70px;
    height: 70px;
    margin-right: 2px;
}

div.conteudo_direcionamento {
    text-align: justify;
    font-size: 1.25em;
    line-height: 1.3em;
    width: 250px;
    margin-left: 2px;
}

div.conteudo_direcionamento > p {
    padding: 5px;
}

div.conteudo_direcionamento > p > a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    background-color: var(--cor5);

    padding: 5px;
}

section#sessao2 {
    background-color: var(--cor3);
}

div#tit_sessao_2 > h2 {
    background-image: linear-gradient(to right, transparent, var(--cor2) 50%);
}

div#produtos_sessao_2{
    background-color: var(--cor2);
}

div.img_combo_sessao2 {
    border: 2px solid var(--cor5);
}

div#combo1_sessao2 {
    background: white url('../imagens/combo-bebida-1.jpg') no-repeat center bottom;
    background-size: cover;
}

div#combo2_sessao2 {
    background: white url('../imagens/combo-bebida-2.jpg') no-repeat center bottom;
    background-size: cover;
}

div#combo3_sessao2 {
    background: white url('../imagens/combo-bebida-3.jpg') no-repeat right bottom;
    background-size: cover;
}

footer#rodape {
    font-family: var(--fonte-marca);
    font-weight: lighter;
    font-size: 1.3em;
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 10px;
}