@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /* VERSÃO PARA TABLET */

    div#background-lasanha {
        width: 700px;
        height: 40vh;
        display: block;
        margin: auto;
    }
}

@media screen  and (min-width: 992px){

    nav#navegacao a {
        font-size: 1.3em;
    }

    header#cabecalho {
        margin-bottom: 40px;
    }

    header#cabecalho > h1 {
        font-size: 3em;
    }

    div#background-lasanha {
        width: 900px;
        height: 55vh;
        display: block;
        margin: auto;
    }

}