@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ANIMAÇÕES */

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px var(--cor2);
    }

    50% {
        box-shadow: 0px 0px 15px var(--cor2);
    }

    100% {
        box-shadow: 0px 0px 0px var(--cor2);
    }
}

@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="in:circle:hesitate"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
  }

  @keyframes circle-out-top-left {
    from {
      clip-path: circle(125%);
    }
    to {
      clip-path: circle(0% at top left);
    }
  }
  
  [transition-style="out:circle:top-left"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-top-left both;
  }

/* CLASSES PARA ANIMAÇÕES */

.fundo-animado-entrada{
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
}

.fundo-animado-saida {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-top-left both;
}

:root {
    --cor1: #F2CB05;
    --cor2: #F29F05;
    --cor3: #BF5B04;
    --cor4: #8C2703;
    --cor5: #591902;

    --fonte-marca: "Protest Riot", sans-serif;
    --fonte-titulo: "Anta", sans-serif;
    --fonte-conteudo: Arial, sans-serif;
}

body {
    font-family: var(--fonte-conteudo);
}

nav#navegacao {
    background-color: var(--cor5);
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav#navegacao a {
    color: white;
    font-size: 1.1em;
    padding: 6px;
    text-decoration: none;
    position: relative;
}

nav#navegacao a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav#navegacao a:hover::after{
    width: 100%;
}

header#cabecalho {
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;

    margin-bottom: 20px;
}

header#cabecalho > h1 {
    color: white;
    padding: 10px;
    font-family: var(--fonte-marca);
    font-weight: 400;
    font-size: 2.3em;
}

div.cont_tit {
    text-align: center;
    margin-bottom: 25px;
}

div.cont_tit > h2 {
    font-family: var(--fonte-titulo);
    font-weight: lighter;
    font-size: 1.3em;
    background-color: var(--cor2);
    display: inline-block;
    border-radius: 5px 15px;
    border: 2px solid var(--cor3);
    animation: shadow 5s ease-in-out infinite;

    padding: 10px;
}

section#conteudo_receita {
    padding: 10px;
}

div#background-lasanha {
    background: var(--cor5) url('../imagens/imagem-lasanha.jpg');
    background-position: center center;
    background-size: cover;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.534);
    border-radius: 25px;
    width: 100%;
    height: 30vh;
}

aside.passo_receita {
    background-color: var(--cor3);
    width: 100%;

    margin-top: 30px;
    padding: 15px;
}

div.conteudo_passo {
    text-align: justify;
    padding: 10px;
    margin-bottom: 10px;
}

div.conteudo_passo > p {
    line-height: 1.5em;
    font-size: 1.2em;
    color: white;
}

div.lista {
    background-color: var(--cor5);
    border-radius: 20px 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.219);
    display: block;
    margin: auto;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

div.lista > ul {
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    list-style-type: '\1F37D\00A0';
}

div.lista > ul > li {
    background-color: var(--cor2);
    font-size: 1.1em;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

aside#sessao_passo{
    background-color: var(--cor2);
    margin-top: 0px;
}

h2#titulo_passo {
    background-color: var(--cor5);
    color: white;
}

div#container_lista_passo {
    background-color: var(--cor3);
}

ul#lista_passo > li {
    background-color: var(--cor5);
    color: white;
}

footer#rodape {
    text-align: center;
    font-weight: lighter;
    font-size: 1.3em;
    font-family: var(--fonte-marca);
    padding: 15px;
    background-color: var(--cor1);
}